<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<contextName>emr_agent_log</contextName>

	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

	<!-- LOG_HOME is define like: java -DLOG_HOME=/xxx/yyy  -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{MM-dd HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>fmt.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>fmt.log.%i.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>500MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="console"/>
		<appender-ref ref="rolling"/>
	</root>
</configuration>